.art-canvas {
  background-image: url("canvas.png");
  background-size: 150px 150px;
}

.art-button {
  background-image: url("button.png");
  background-size: 150px 150px;
}

/* Media Queries which target HiDPI Screens, just in case ... */
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

}