.art-pad {
  background-image: url("pad.png");
  background-size: 100% 100%;
}

.art-button {
  background-image: url("button.png");
  background-size: 100% 100%;
}

.art-arrow {
  background-image: url("arrow.png");
  background-size: 100% 100%;
}

.art-arrow-active {
  background-image: url("arrow-active.png");
  background-size: 100% 100%;
}

/* Media Queries which target HiDPI Screens, just in case ... */
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

}